<!DOCTYPE html>
<html>
<head>
	<title>This is an index template</title>
</head>
<body>
<h2>main ek masoom si new template hu kartik bhai</h2>
<form action = '/analyze' method="get">
	<textarea style="margin: 0px; width: 1440px; height: 206px;" name='textbox'></textarea>
	<br>
	<input type="checkbox" name="removepunc">Punctuation Blocker<br>
	<input type="checkbox" name="fullcaps">Uppercase Add<br>
	<input type="checkbox" name="newlineremover">new line blocker<br>
	<input type="checkbox" name="extraspaceremover">extra space <br>
	<input type="checkbox" name="count-box">extra space <br>

	<button type = 'submit '>Textarea submission</button>

</form>
</body>
</html>